# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Données brutes lourdes (shapefiles, zips)
data/raw/*.zip
data/raw/*.7z

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
